{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card mt-4">
                <div class="card-body">
                    <h1 class="card-title">{{ appointment.title }}</h1>
                    <p class="card-text"><strong>Nutritionist: </strong>{{ appointment.get_nutritionist_display }}</p>
                    <p class="card-text"><strong>Reason: </strong>{{ appointment.get_reason_display }}</p>
                    <p class="card-text">{{ appointment.description }}</p>
                    <p class="card-text"><strong>Date: </strong> {{ appointment.date }}</p>
                    <p class="card-text"><strong>Time: </strong>{{ appointment.time }}</p>
                    <a href="{% url 'appointment_list' %}" class="btn btn-primary mb-3">Back to Appointment List</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}