{% extends 'base.html' %}

{% block content %}


<div class="d-flex aligns-items-center justify-content-center">
    <div class="card mt-4" style="width: 30rem;">
        <div class="card-header">
            <h1>Appointment List</h1>
        </div>
        <ul class="list-group list-group-flush list-unstyled">
            {% for appointment in appointments %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                {{ appointment }}

                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a class="btn btn-outline-primary" href="{% url 'appointment_detail' pk=appointment.pk %}">
                        <i class="fa-regular fa-calendar"></i>
                    </a>
                    <a class="btn btn-outline-secondary" href="{% url 'appointment_update' pk=appointment.pk %}">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a class="btn btn-outline-danger" href="{% url 'appointment_delete' pk=appointment.pk %}">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </div>
            </li>
            {% empty %}
            <li class="text-center">No appointment found.</li>
            {% endfor %}
        </ul>
        <div class="card-footer">
            <div class="vstack gap-2 mx-auto">
                <a class="btn btn-primary" href="{% url 'appointment_create'%}">Create Appointment</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}