body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #fafafd;   
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #ffffff;
}

.dark-bg {
    background-color: #d6d9db;
}


.main-bg {
    background-color: #F9FAFC;
    min-height: calc(100vh - 196px);
}

.card {
    background-color: transparent;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0;
}

.bg-image {
    background-image: url("https://res.cloudinary.com/dy2i4yita/image/upload/v1680557886/hero11_lquqaj.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(6, 6, 6);
    padding: 10%;
}

.container-fluid h1 {
    text-align: left;
}

.card-text {
    font-size: 1rem;
    line-height: 1.5;
}

.btn-primary {
    background-color: #007bff;
    border-color: #fff;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #0d6efd;
    text-decoration: none;
    font-weight: bold;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* footer */

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.social-icons {
    display: flex;
    align-items: flex-end;
    font-size: 24px;
    color: #5c5f66;
    gap: 10px;
}


/* media queries */
@media screen and (max-width: 685px){ 
    h1 {
        display: table-caption;

    }
}

@media screen and (max-width: 845px) {
    .card-columns {
      column-count: 1;
    }
    
    .card {
      margin: 0 auto;
      margin-bottom: 1rem;
      width: 90%;
    }
  }



