{% extends "base.html" %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% load static %} 

<div class="container-fluid bg-image">
    <h1 class="font-weight-semibold">Welcome to iHealthy.</h1>
</div>

<div class="container text-center mt-4">
    <p class="lead text-center font-weight-normal">Your go-to destination for personalized and evidence-based nutrition counseling.</p>
    <p class="lead text-center">Whether you're looking to lose weight, weight gain, manage a chronic condition or optimize
        your
        health and wellness,
        we are here to support you every step of the way.
    </p>
    <p class="lead text-center">Book your appointment today and start your jorney towards a happier and healthier you!
    </p>
    <div>
        {% if request.user.is_authenticated %}
        <a href="{% url 'appointment_create' %}" class="btn btn-outline-primary">Create appointment</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="btn btn-primary">Book Now</a>
        {% endif %}
    </div>
</div>

<div class="container-fluid pt-5 pb-5 mt-4 border-top text-center">
    <div class="row mt-3">
        <div class="col-12 col-lg-6">
            <h2>Why Choose Us?</h2>
            <p class="pt-3"><i class="fa-solid fa-check"></i> Personalized Nutrition Plan</p>
            <p><i class="fa-solid fa-check"></i> Professional Nutricionist</p>
            <p><i class="fa-solid fa-check"></i> Affordable Pricing</p>
            <p><i class="fa-solid fa-check"></i> Convenient Online Appointments</p>
            <p><i class="fa-solid fa-check"></i> Expert Advice</p>
            <p><i class="fa-solid fa-check"></i> User-Friendly Platform</p>
        </div>
        <div class="col-12 col-lg-6">
            <h2>What We Offer:</h2>
            <p class="pt-3"><i class="fa-solid fa-weight-scale"></i>  Weight Loss</p>
            <p><i class="fa-solid fa-chart-line"></i > Weight Gain</p>
            <p><i class="fa-brands fa-nutritionix"></i> Better Health</p>
            <p><i class="fa-solid fa-clipboard"></i> Meal Planing</p>
            <p><i class="fa-solid fa-dumbbell"></i> Nutrition Education</p>
        </div>
    </div>
</div>


<div class="container-fluid pt-3 pb-5 mt-4 border-top text-center clearfix"> 
    <h3 class="text-center mb-5">Meet Our Team <i class="fa-solid fa-people-group"></i> </h3>
    <div class="row">
        <div class="col-12 col-md-6 pr-3"> 
            <div class="card" style="width: 20rem;">
                    <img src="{% static 'images/annasmith.png' %}" class="card-img-top" alt="Picture of Anna Smith, our nutritionist">
                <div class="card-body">
                    <h4 class="card-title">Anna Smith</h4>
                    <p class="card-text text-left pt-3">
                        As a highly experienced nutritionist, Anna Smith has dedicated her career to helping individuals
                        and
                        communities improve their health through healthy eating habits.
                        With a background in nutritional science and a passion for holistic health, Anna takes a
                        comprehensive approach to her work, considering each individual's unique needs and lifestyle
                        factors.
                        Through her guidance, many have achieved their health goals and learned how to maintain healthy
                        habits for a lifetime. Her expertise in the field has also led her to become a well-respected
                        leader
                        in the nutrition community,
                        frequently speaking at conferences and sharing her insights with others in the field.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 pl-3">
            <div class="card"  style="width: 20rem;">
                    <img src="{% static 'images/johndoe.png' %}" class="card-img-top" alt="Picture of John Doe, our nutritionist">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                    <p class="card-text pt-3">
                        As a registered dietitian and nutritionist with 10 years of experience, John Doe is committed to helping people achieve optimal health through sustainable lifestyle changes. 
                        He believes that a balanced and varied diet, along with regular exercise, is essential for wellbeing. 
                        John works closely with his clients to create personalized nutrition plans that cater to their unique needs and goals. 
                        When he's not working, John enjoys running marathons and giving talks on nutrition-related topics. 
                        He's also involved in community initiatives aimed at improving access to healthy food.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}